
@{
    ViewData["Title"] = "收货地址";
}

<div id="address" class="tab-pane show active">
    <p>The following addresses will be used on the checkout page by default.</p>
    <h4 class="billing-address">Billing address</h4>
    <a class="view" href="#">edit</a>
    <p>Md Shohel</p>
    <p>Bangladesh</p>
</div>

